version: "3.6"

services:

  backend:
    image: "${DOCKER_REGISTRY}/n2o-components/rdm/backend:${docker.image.tag}"
    build:
      context: ${project.basedir}
      args:
        JAR_FILE: rdm-service/target/rdm-service.jar

  frontend:
    image: "${DOCKER_REGISTRY}/n2o-components/rdm/frontend:${docker.image.tag}"
    build:
      context: ${project.basedir}
      args:
        JAR_FILE: rdm-frontend/target/rdm.jar

  esnsi:
    image: "${DOCKER_REGISTRY}/n2o-components/rdm/esnsi:${docker.image.tag}"
    build:
      context: ${project.basedir}
      args:
        JAR_FILE: rdm-esnsi/target/rdm-esnsi.jar

  db:
    image: "${DOCKER_REGISTRY}/n2o-components/rdm/db:${docker.image.tag}"
    build:
      context: ${project.basedir}/db
